/*nav bar color*/
.bg-light {
  background-color: #00BFF1 !important;
}

/*font families*/
h1, h2, h3, p, a {
font-family: optima;
}

/*page background*/
body {
  padding-top: 4%;
  background-color: #F4EBBC;//F5F5F5;
}

h1 {
  text-align: center;
  padding-top: 2%;
}

/*link color*/
a {
  color: black;
}


/*flexbox footer*/
.footer-container{
  margin-top: 50px;
  justify: center;
  display: flex;
  background-color: none;
  padding: 20px 0;
}

.footer {
  display: flex;
  border: none;
  width: 100%;
  background: #00BFF1;
}

.github-link {
  margin-left: 2%;
  color: black;
}

/*formatting for homepage + picture*/
.frontpage {
  margin-top: 0;
  position: relative;
  padding-bottom: 0;
}

#frontpage-header {
  font-size: 50px;
  position: absolute;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 55px;
  width: 100%;
}

#homepage-pic {
  margin-top: -10px;
  display: block;
  width: 100%;
}
/*homepage blurb*/
#blurb {
  background-color: #FFFFFF;
  border-radius: 30px;
  display: block;
  text-align: center;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  padding-top: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: auto;
  font-size: 1.5em;
}

.snowboard-display {
  columns: 2;
  color: white;
  background-color: #00BFF1;
  text-align: center;
  border: 10px solid #00BFF1;
}

.snowboards {
  display: inline;
}

#snowboards-pic {
  width: 100%;
}

#snowboards-blurb {
  width: 100%;
}

.bindings {
  display: inline;
}

#bindings-pic {
  width: 100%;
}

#bindings-blurb {
  width: 100%;
}

.boots {
  display: inline;
}

#boots-pic {
  width: 100%;
}

#boots-blurb {
  width: 100%;
}

.hoodies {
  display: inline;
}

#hoodies-pic {
  width: 100%;
}

#hoodies-blurb {
  width: 100%;
}
