/*nav bar color*/
.bg-light {
  background-color: #C5EBC3 !important;
}

/*font families*/
h1, h2, h3, p, a {
font-family: optima;
}

/*page background*/
body {
  padding-top: 4%;
  background-color: #F8F8FF;
}

h1 {
  padding-left: 3%;
  margin-top: 1%;
}

/*link color*/
a {
  color: black;
}


/*flexbox footer*/
.footer-container{
  justify: center;
  display: flex;
  background-color: none;
  padding: 20px 0;
}

.footer {
  display: flex;
  border: none;
  width: 100%;
  background: #C5EBC3;
}

.github-link {
  margin-left: 2%;
  color: black;
}
