/*nav bar color*/
.bg-dark {
  background-color: white !important;
}

h1 {
  padding-left: 3%;
}

/*flexbox footer*/
.footer-container{
  justify: center;
  display: flex;
  background-color: none;
  padding: 20px 0;
}

.footer {
  display: flex;
  color: white;
  border: none;
  width: 100%;
  background: white;
}

.github-link {
  color: black;
}
